.containerr {
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
}
@media (max-width: 770px) {
  .imgss {
    height: 250px;
  }
}

.register_btn {
  display: flex;

  justify-content: center;
}
.all-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
